<search-bar></search-bar>

<h1>Upload Documents</h1>

<rover-stepper (stepChange)="onStepChange($event)" class="stepper"></rover-stepper>
    
<div class="doc-container">
    <doc-box docType="EXL" numberOfDocs="5"></doc-box>
    <doc-box docType="DOC" numberOfDocs="3"></doc-box>
    <doc-box docType="PDF" numberOfDocs="2"></doc-box>
</div>

<div class="content-container">
    <location-page *ngIf="selectedPage[0]"></location-page>
    <domain-page *ngIf="selectedPage[1]"></domain-page>
    <tag-page *ngIf="selectedPage[2]"></tag-page>
    <upload-page *ngIf="selectedPage[3]"></upload-page>
</div>