.btn{
    height: 32px;
    width: 130px;
    padding-left:15px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #02c89a ;
    color: #254fe3;
    font-size: small;
    border:none;
    
}

.btn:hover{
    cursor: pointer;
}

.mat-icon{
    
    font-size: 20px;
    width: 20px;
    height: 20px;
}

.back{
    margin-right: 10px;
}

.forward{
    margin-left: 10px;
}
