<div class="container" fxLayoutAlign="center center">
    <div class="img-box">
        <img src="../../assets/roverLogo.png" alt="">
    </div>
</div>

<mat-toolbar fxLayoutAlign="center center">
    <span style='font-size:120%;'>Sign in to Rover</span></mat-toolbar>

<div fxLayoutAlign="center center" class="login-container" fxFlexFill>
    <mat-card fxFlex="25" class="login" fxLayoutAlign="center center">
        <form fxLayoutAlign="stretch" fxLayout='column'>
            <mat-form-field class="username">
                <mat-label>Username or email address</mat-label>
                <input matInput #email autocomplete="off" type="email">
            </mat-form-field>

            <mat-form-field class="username">
                <mat-label>Password</mat-label>
                <input matInput autocomplete="off" type="password" #password (keyup.enter)="userLogin(email,password)">
            </mat-form-field>
            <button mat-raised-button type="submit" class="submit" onclick="userLogin(email,password)">Login</button>
            <br>
            <p>
                New to Rover?
                <a routerLink="/register" routerLinkActive="active"> Create an account</a>
            </p>

        </form>
    </mat-card>
</div>