
.line{
    width: 0;
    height: 18px;
    border-left: 1px solid #dddddd;
    position: relative;
    left: 58px;
}

.search-box{
    width: 100%;
   
    height: 48px;
    
    border-radius: 24px;
    border-style: solid;
    border-width: thin;
    display: flex;
    align-items: center;
    
    border-color: #dddddd;
    
}

.mat-icon{
    width: 10.67px;
    height: 11.13px;
    position: absolute;
    top: 13px;
    left: 21px;
}

.search-txt{
    border: none;
    outline: none;
    padding: 0;
    height: 19px;
    width: fit-content;
    position: absolute;
    left:78px;
    width: 80%;
   
    
    
}