<!-- <div class="search_wrap search_wrap_4">
    <div class="search_box">
        <div class="btn btn_common">
            <mat-icon>search</mat-icon>
        </div>
        <input type="text" class="input" placeholder="search...">
    </div>
</div> -->

<div class="search-box">
    
        <mat-icon color="primary">search</mat-icon>
    
    <div class="line"></div>
    
        <input type="text" class="search-txt" placeholder="search...">
    
    
</div>


<!-- 
<div class="nav">
            <a routerLink="/login" routerLinkActive="active">Login</a>
        &nbsp;
        &nbsp;
            <a routerLink="/register">Register</a>
</div> -->
