.step{
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    border-color: white;
    outline: white;
    border: solid;
    border-width: thin;
}

.step-selected{
    background-color: white;
    color: #254fe3 ;
}

.step-unselected{
    background-color: #254fe3 ;
    color: white;
}

.label{
    color: white;
    font-size: small;
    margin-top: 10px;
    width: 40px;
    text-align: center;
}